<div style="display: flex;">
  <!-- Pokemon list -->
  <md-list class="pokemon-list">
    <h3 md-subheader>Pokemons</h3>
    <md-list-item *ngFor="let pokemon of pokemonList" (click)="getDetails(pokemon)">
      <img md-list-avatar src="{{pokemon.sprites.front_default}}">
      <h4 md-line>{{pokemon.name}}</h4>
    </md-list-item>
  </md-list>
  <!-- Pokemon Details -->
  <md-spinner *ngIf="pokemonDetails === null" class="app-spinner"></md-spinner>
  <md-card *ngIf="pokemonDetails" class="pokemon-details">
    <md-card-header>
      <img md-card-avatar src="{{pokemonDetails.sprites.gif}}">
      <md-card-title>{{pokemonDetails.name}}</md-card-title>
      <md-card-subtitle>{{pokemonDetails.surname}}</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="{{pokemonDetails.sprites.artwork}}">
    <md-card-content>
      <p>Height: {{pokemonDetails.height/10}}m</p>
      <p>Weight: {{pokemonDetails.weight/10}}kg</p>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
</div>